@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
body {
  height: 100%;
}

.block-header {
  background-image: url("../img/img1.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  background-position-y: -500px;
  background-size: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-header .block-header__element-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-header .block-header__element-nav a {
  text-decoration: none;
}

.block-header .block-header__element-nav a h1 {
  color: black;
  font-family: Nanum Brush Script;
  font-size: 500%;
  background-color: white;
  border-radius: 20px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.block-header .block-header__element-nav .block-header__element-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-header .block-header__element-nav .block-header__element-menu li {
  list-style-type: none;
}

.block-header .block-header__element-nav .block-header__element-menu li a {
  font-size: 150%;
  color: black;
  background-color: rgba(255, 255, 255, 0.651);
  border: white 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.block-header .block-header__element-nav .block-header__element-menu li a:hover {
  background-color: white;
}

.block-header .block-header__element-nav .block-header__element-cp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.block-header .block-header__element-nav .block-header__element-cp li {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  padding: 15%;
  border-radius: 10px;
  background-color: white;
  margin-top: 10px;
  background-color: #d69d1733;
  border: #fffcfc solid 1px;
}

.block-header .block-header__element-nav .block-header__element-cp li:hover {
  background-color: white;
}

.block-header .block-header__element-nav .block-header__element-cp li a {
  color: black;
}

.block-main {
  padding: 4%;
}

.block-main .block-main__element-photo {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-main .block-main__element-photo .produits {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.block-main .block-main__element-photo .produits .namePrice {
  margin: 20px;
  color: black;
  font-size: 200%;
}

.block-main .block-main__element-photo .produits:nth-child(2), .block-main .block-main__element-photo .produits:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.block-main .block-main__element-photo .produits .photoIndex {
  -webkit-box-shadow: grey 0px 10px 20px;
          box-shadow: grey 0px 10px 20px;
  width: 25%;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-footer {
  background-color: rgba(214, 157, 23, 0.2);
  padding-top: 10px;
  margin-top: 3.5cm;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.block-footer ul {
  list-style: none;
  padding: 0;
}

.block-footer ul li {
  text-decoration: none;
  text-align: left;
}

.block-footer ul li a {
  color: black;
  text-decoration: none;
}

.block-main-produits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 45px;
  padding: 3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-main-produits .divUnPageProduit {
  width: 45%;
}

.block-main-produits .divUnPageProduit .photoProduit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: grey 0px 10px 20px;
          box-shadow: grey 0px 10px 20px;
}

.block-main-produits .divDeuxPageProduit {
  width: 45%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-main-produits .divDeuxPageProduit .nomProduitDansPageProduit {
  text-align: center;
  font-size: 300%;
}

.block-main-produits .divDeuxPageProduit .prixProduitDansPageProduit span {
  font-size: 200%;
}

.block-main-produits .divDeuxPageProduit .selectLentilles {
  margin: 20px;
  background-color: white;
}

.block-main-produits .divDeuxPageProduit .buttonAjouterPanier {
  width: 30%;
  margin: 0 auto;
  background-color: #d69d1733;
  border-radius: 20px;
}

.block-main-produits .divDeuxPageProduit .buttonAjouterPanier:hover {
  background-color: #d69d179d;
}

.block-main-panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

.block-main-panier .divPanier {
  width: 60%;
}

.block-main-panier .divPanier .infoProduitImagePanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: solid 1px black;
  text-align: center;
}

.block-main-panier .divPanier .infoProduitImagePanier .infoImgProduitImagePanier {
  width: 16%;
}

.block-main-panier .divPanier .infoProduitImagePanier .infoNomProduitImagePanier {
  width: 16%;
}

.block-main-panier .divPanier .infoProduitImagePanier .infoLentilleProduitImagePanier {
  width: 16%;
}

.block-main-panier .divPanier .infoProduitImagePanier .infoQuantiteProduitImagePanier {
  width: 16%;
}

.block-main-panier .divPanier .infoProduitImagePanier .infoPrixProduitImagePanier {
  width: 16%;
}

.block-main-panier .divPanier .infoProduitImagePanier .infoTrashProduitImagePanier {
  width: 16%;
}

.block-main-panier .divPanier .blocProduitPanier {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: black 1px solid;
  text-align: center;
  padding: 5px;
}

.block-main-panier .divPanier .blocProduitPanier .photoProduitPanier {
  width: 16%;
}

.block-main-panier .divPanier .blocProduitPanier .nomProduitPanier {
  width: 16%;
}

.block-main-panier .divPanier .blocProduitPanier .optionProduitPanier {
  width: 16%;
}

.block-main-panier .divPanier .blocProduitPanier .quantiteProduitPanier {
  width: 16%;
}

.block-main-panier .divPanier .blocProduitPanier .prixProduitPanier {
  width: 16%;
}

.block-main-panier .divPanier .blocProduitPanier .corbeilleProduitPanier {
  width: 16%;
  background-color: #d69d1733;
  border-radius: 20px;
}

.block-main-panier .divPanier .blocProduitPanier .corbeilleProduitPanier:hover {
  background-color: #d69d179f;
}

.block-main-panier .divTotal {
  width: 35%;
}

.block-main-panier .divTotal .formulaire fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-main-panier .divTotal .formulaire fieldset input {
  margin-top: 10px;
}

.block-main-panier .divTotal .formulaire fieldset input:nth-child(12) {
  font-size: 20px;
  border-radius: 20px;
  background-color: #d69d1733;
}

.block-main-panier .divTotal .formulaire fieldset input:nth-child(12):hover {
  background-color: #d69d179d;
}

.block-main-panier .divTotal .formulaire fieldset .test-danger {
  color: red;
}

.block-main-panier .divTotal .formulaire fieldset .form-danger {
  border-color: red;
}

.block-main-panier .divTotal .totalProduit {
  height: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 150%;
}

.block-main-panier .divTotal .totalProduit .totalpanier {
  margin-left: 5px;
}

.block-main__confirmation {
  height: 90%;
  margin-top: 200px;
}

.block-main__confirmation .cadre-blanc {
  font-size: 180%;
  width: 80%;
  margin: auto;
}

.block-main__confirmation .cadre-blanc .remerciement {
  margin: auto;
  text-align: center;
  height: 50%;
}

.block-main__confirmation .cadre-blanc .info-js {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 50%;
}

@media all and (max-width: 980px) {
  .block-header {
    background-position-y: -80px;
    padding: 10px;
  }
  .block-header .block-header__element-nav {
    display: flow-root;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-header .block-header__element-nav a {
    width: 25%;
  }
  .block-header .block-header__element-nav a h1 {
    display: inline;
    font-size: 400%;
    width: 25%;
    margin: 0;
  }
  .block-header .block-header__element-nav .block-header__element-menu {
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 0;
    padding: 0;
  }
  .block-header .block-header__element-nav .block-header__element-menu li a {
    margin-right: 10px;
    font-size: 100%;
    padding: 8px;
  }
  .block-header .block-header__element-nav .block-header__element-cp {
    position: absolute;
    top: 0;
    right: 50px;
  }
  .block-header .block-header__element-nav .block-header__element-cp li {
    padding: 10px;
  }
  .block-main-produits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main-produits .divUnPageProduit {
    width: 100%;
  }
  .block-main-produits .divDeuxPageProduit {
    margin: 0 auto;
    width: 100%;
  }
  .block-main-panier {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .block-main-panier .divPanier {
    width: 100%;
    margin-bottom: 70px;
  }
  .block-main-panier .divTotal {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (max-width: 450px) {
  .block-header {
    background-size: 1000px;
  }
  .block-header .block-header__element-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .block-header .block-header__element-nav a {
    width: 100%;
    text-align: center;
  }
  .block-header .block-header__element-nav a h1 {
    width: 100%;
    font-size: normal;
  }
  .block-header .block-header__element-nav .block-header__element-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .block-header .block-header__element-nav .block-header__element-menu li {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .block-header .block-header__element-nav .block-header__element-menu li a {
    width: 100%;
    margin-bottom: 10px;
  }
  .block-header .block-header__element-nav .block-header__element-cp {
    width: 100%;
    position: static;
  }
  .block-header .block-header__element-nav .block-header__element-cp li {
    width: auto;
    background-color: rgba(255, 255, 255, 0.719);
  }
  .block-main .block-main__element-photo .produits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block-main .block-main__element-photo .produits:nth-child(2), .block-main .block-main__element-photo .produits:nth-child(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main .block-main__element-photo .produits .photoIndex {
    width: 100%;
  }
  .block-footer {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main-panier .divPanier {
    margin-bottom: 0;
  }
  .block-main-panier .divPanier .infoProduitImagePanier {
    display: none;
  }
  .block-main-panier .divTotal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */