@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");

.block-header {
  background-image: url("../img/img1.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position-y: -500px;
  background-size: 100%;
  padding: 5%;

  nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
    h1 {
      font-family: "Nanum Brush Script", cursive;
      font-size: 100px;
      margin-left: 20px;
      margin-top: 0;
      margin-bottom: 0;
      background-color: white;
      border-radius: 20px;

      a {
        text-decoration: none;
        color: black;
        margin: 10px;
      }
    }
    .block-header__element-menu {
      list-style: none;
      display: flex;
      justify-content: space-around;
      li {
        text-decoration: none;

        padding: 10px;
        border-radius: 15px;
        margin: 10px;
        background-color: white;
        &:hover {
          background-color: rgba(214, 157, 23, 0.8);
        }
        a {
          text-decoration: none;
          color: black;
          font-size: 150%;
        }
      }
    }
    .block-header__element-cp {
      list-style: none;
      position: absolute;
      top: 5px;
      right: 20px;
      border: none;
      text-align: center;

      li {
        background-color: white;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
.block-main {
  margin-top: 50px;
  .block-main__element-photo {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .produits {
      width: 100%;
      display: flex;
      text-decoration: none;
      align-items: center;

      margin-top: 30px;
      .description {
        margin: 20px;
        color: black;
        font-size: 200%;
      }
      &:nth-child(2),
      &:nth-child(4) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
      }
      .photo {
        border: grey 1px solid;
        box-shadow: grey 0px 10px 20px;
        width: 40%;
        padding: 0;
        border-radius: 20px;
        object-fit: cover;
      }
    }
  }
}
.block-footer {
  background-color: rgba(214, 157, 23, 0.2);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  ul {
    list-style: none;

    padding: 0;
    li {
      text-decoration: none;
      text-align: left;

      a {
        color: black;
        text-decoration: none;
      }
    }
  }
}
